<div class="navigation-bottom d-flex justify-content-evenly align-items-center mx-2">
  <%= link_to events_path do %>
    <i class="fa-solid fa-house text-light"></i>
  <% end %>
  <%= link_to new_event_path do %>
    <i class="fa-solid fa-plus"></i>
  <% end %>
  <% if user_signed_in? %>
    <%= link_to profile_path do %>
      <i class="fa-solid fa-user"></i>
    <% end %>
  <% else %>
    <%= link_to new_user_session_path %>
  <% end %>
</div>
