<div id="cover">
  <form method="get" action="">
    <div class="tb">
      <%= form_with url: events_path, method: :get, class: "input-mod" do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control input-taille",
          placeholder: "Find an event"
        %>
      <% end %>
      <div class="td" id="s-cover">
        <button type="submit">
          <div id="s-circle"></div>
        </button>
      </div>
    </div>
  </form>
</div>
