.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(254,206,206,0.5);
  border: 1px solid rgba(133, 54, 234, 0.2);
}
.card-trip-map {
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 0 15px rgba(254,206,206,0.5);
  border: 1px solid rgba(133, 54, 234, 0.2);
}

.color-font {
  color: $primary-color;
}

.color-font-2 {
  color: $primary-color;
}

.card-trip > span {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5));
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 20px;
  color: $primary-color;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $primary-color;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  left: 16px;
  top: -30px;
  width: 16vw;
  height: 16vw;
  object-fit: cover;
}

.btn-cards{
  background-color: #8536EA;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 10px;
}

.width{
  height: 15vh;
  margin-bottom: 5px;
}

.overflow-text{
  text-overflow: ellipsis;
}

span{
  font-size: 9px;
  width: 50%;
  text-align: -webkit-center;
}

.width-size-photo-profil {
  width: 20vw;
  height: 20vw;
  top: 22px;
  left: -7px;
  margin: auto;
  object-fit: cover;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border: 2px solid $primary-color;
}

.title-padding{
  margin-left: 12vw;
  padding: 3vw;
  text-align: center;
}
