.card-trip {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.color-font {
  color: $primary-color;
}

.card-trip > span {
  height: 200px;
  width: 100%;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5));
  object-fit: cover;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
  padding-top: 10px;
  color: $primary-color;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
  color: $primary-color;
}


.card-trip .card-trip-infos {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  left: 16px;
  top: -20px;
  width: 40px;
}

.btn-cards{
  background-color: #8536EA;
  border-radius: 20px;
  text-decoration: none;
  margin-top: 10px;
}

.width{
  height: 11vh;
  margin-bottom: 20px;
}

.overflow-text{
  text-overflow: ellipsis;
}

span{
  font-size: 8px;
  width: 50%;
  text-align: -webkit-center;
}
