.navbar-taille{
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 18vh;
}

.param-img{
  height: 7vh;
  width: 7vh;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 3vh;
  margin-top: 3vh;
  border: 2px solid $primary-color;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
.param-icon{
  font-size: 7vh;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 3vh;
  margin-top: 3vh;
  color: $primary-color !important;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.param-logo{
  height: 15vh;
  width: 15vh;
  object-fit: cover;
  border-radius: 50%;
}

.size-disp{
  width: 33%;
}

.position-logo{
  display: flex;
  justify-content: center;
}
