.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.wi-size-logo {
  width: 30vw;
}

.wi-size-photo {
  width: 18vw;
  border: 2px solid $primary-color;
  margin-top: 10px;
  margin-left: 30px;
}

.wi-size-chat {
  width: 12vw;
  margin-left: 30px;
}

.container-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  a{
    display: block;
  }
}
