.container-navbar-bottom {
  display: flex;
  width: 80%;
  background-color: $primary-color;
  justify-content: space-evenly;
  border-radius: 16px;
  a{
    display: block;
  }
}

.fa-solid {
  color: white;
}

.fa-regular {
  color: white;
}
