// .wi-size-logo {
//   width: 20vw;
// }

// .wi-size-photo {
//   width: 18vw;
//   border-color: 2px solid violet;
// }

// .wi-size-chat {
//   width: 12vw;
// }

.container-navbar-bottom {
  display: flex;
  width: 80%;
  background-color: $primary-color;
  justify-content: space-evenly;
  a{
    display: block;
  }
}
