.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.wi-size-logo {
  width: 20vw;
}

.wi-size-photo {
  width: 18vw;
  border-color: 2px solid violet;
}

.wi-size-chat {
  width: 12vw;
}


.container-navbar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  a{
    display: block;
  }
}
